SECRET_KEY=pgjzq+y_ccuj9b97c4%5w#6f9+dyme3uu!(^k=#s5zl9qy^%5+
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=hrms_db
DB_USER=root
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
